<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="TokenExpiry" value="600" />
  <add key="ApiGatewayBaseURL" value="http://tms.anblicks.com/" />
  <add key="ApiGatewayOMSURL" value="http://localhost:51368/api/" />
  <add key="ApiGatewayTMSURL" value="http://localhost:51359/api/" />
  <add key="ApiGatewayDMSURL" value="http://localhost:51373/api/" />
  <add key="SwaggerBaseURL" value="https://tms.anblicks.com:443/oms-dev-api" />
  <add key="TMSLogin" value="tms1"/>
  <add key="TMSPassword" value="tms1"/>
  <add key="DMSLogin" value="admindms"/>
  <add key="DMSPassword" value="admindms"/>
  <add key="RequestTimeout" value="500000"/>
  <add key="SAMA_ACCOUNT_URL" value="https://devproxy.astra.co.id/usermanagementapi/api/Accounts/tokeninfo "/>
  <add key="OMS_UI_URL" value="http://omsweb.anblicks.com/login?target="/>
</appSettings>