<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="TokenExpiry" value="600" />
  <add key="ApiGatewayBaseURL" value="http://tms.anblicks.com/" />
  <add key="ApiGatewayTMSURL" value="tms-qa/api/" />
  <add key="ApiGatewayDMSURL" value="dms-qa/api/" />
  <add key="TMSLogin" value="tms1"/>
  <add key="TMSPassword" value="tms1"/>
  <add key="DMSLogin" value="admindms"/>
  <add key="DMSPassword" value="admindms"/>
  <add key="SAMAApiGatewayBaseURL" value="https://devproxy.astra.co.id/usermanagementapi/"/>
  <add key="IsSAMAAllowed" value="false"/>
  <add key="CreateSAMAUser" value="false"/>
  <add key="SAMALogin" value="tmsuser"/>
  <add key="SAMAPassword" value="Astra@123"/>
  <add key="SAMAOMSCode" value="OMSSP"/>
  <add key="SAMATMSCode" value="TMSSP"/>
  <add key="RequestTimeout" value="500000"/>
</appSettings>