<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>

    <component
    id="memoirDataTask.01"
    service="OMS.DomainGateway.Gateway.Interfaces.ITaskGateway, OMS.DomainGateway"
    type="OMS.BusinessGateway.Gateway.TaskGateway, OMS.BusinessGateway">
    </component>

  </components>
</configuration>
