<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="TokenExpiry" value="600" />
  <!--add key="EmailFrom" value="saibabu.lank@anblicks.com" />
    <add key="EmailSubject" value="Forgot Password" />
    <add key="LoginEmailId" value="mallesh.n@anblicks.com" />
    <add key="smtpHost" value="smtp.gmail.com" />
    <add key="EmailPassword" value="mallesh0101" />-->
  <add key="EmailFrom" value="namsanimallesh0711@gmail.com" />
  <add key="EmailSubject" value="Forgot Password" />
  <add key="smtpHost" value="smtp.gmail.com" />
  <add key="SmtpUserName" value="namsanimallesh0711@gmail.com" />
  <add key="SmtpPassword" value="mallesh0101" />
  <add key="ResetPassword" value="http://tms.anblicks.com:80/dms-qa-api/api/v1/user/resetpassword" />

  <add key="storage:AccountName" value="astrafile" />
  <add key="storage:AccountKey" value="bC+6P+0Cch6UJtKpg8eTKBmQXbtpDn8nlU/R1ik+M7K0+FYYbUpeRIG9YryDL8Lr0DkYykWH9krlAS2ATZ8LfQ==" />
  <add key="storage:AccountContainer" value="astratmsdev" />
  <add key="FileStorageURL" value="https://astrafile.blob.core.windows.net/astratmsdev/" />
  <!--<add key="ApiGatewayBaseURL" value="https://astraapigateway-dev.azure-api.net/" />
    <add key="ApiGatewayTMSURL" value="tms-qa/api/" />
    <add key="ApiGatewayOMSURL" value="oms-qa/api/" />-->

  <add key="ApiGatewayBaseURL" value="http://tms.anblicks.com/" />
  <add key="ApiGatewayTMSURL" value="http://localhost:51359/api/" />
  <add key="TMSLogin" value="tms1" />
  <add key="TMSPassword" value="tms1" />
  <add key="AllowPushNotifications" value="true" />
  <add key="FCM_Authorization" value="key=AAAASlr9K0Y:APA91bEpVYc3duC6fq7w38AGljxFkKXMMUHrSMF18fXRBHnVU-RWWyymfrGRX3D0H_zwflmJtjAtrcBosSt4sQxvrkuUZ6wjWP2ZvGwWzyxnYYjue-sIs7466OA1DWL6_X4UJ5gZcgPD" />
  <add key="ShipmentListOCRURL" value="http://18.138.206.192:4003/extract" />
</appSettings>