<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="Helper.Model">
      <section name="dependencyResolver" type="Helper.Model.DependencyResolver.DependencyResolverConfigurationSection, Helper.Model" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="" internalLogLevel="Trace">
    <targets>
      <!-- write logs to file -->
      <target name="logfile" xsi:type="File" fileName="${basedir}/DMS_API_Logs/${date:format=yyyy-MM-dd}-api.log" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=tostring}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
  </nlog>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="TokenExpiry" value="600" />
    <!--add key="EmailFrom" value="saibabu.lank@anblicks.com" />
    <add key="EmailSubject" value="Forgot Password" />
    <add key="LoginEmailId" value="mallesh.n@anblicks.com" />
    <add key="smtpHost" value="smtp.gmail.com" />
    <add key="EmailPassword" value="mallesh0101" />-->
    <add key="EmailFrom" value="namsanimallesh0711@gmail.com" />
    <add key="EmailSubject" value="Forgot Password" />
    <add key="smtpHost" value="smtp.gmail.com" />
    <add key="SmtpUserName" value="namsanimallesh0711@gmail.com" />
    <add key="SmtpPassword" value="mallesh0101" />
    <add key="ResetPassword" value="http://tms.anblicks.com:80/dms-qa-api/api/v1/user/resetpassword" />
    
    <add key="storage:AccountName" value="astrafile" />
    <add key="storage:AccountKey" value="bC+6P+0Cch6UJtKpg8eTKBmQXbtpDn8nlU/R1ik+M7K0+FYYbUpeRIG9YryDL8Lr0DkYykWH9krlAS2ATZ8LfQ==" />
    <add key="storage:AccountContainer" value="astratmsdev" />
    <add key="FileStorageURL" value="https://astrafile.blob.core.windows.net/astratmsdev/" />
    <!--<add key="ApiGatewayBaseURL" value="https://astraapigateway-dev.azure-api.net/" />
    <add key="ApiGatewayTMSURL" value="tms-qa/api/" />
    <add key="ApiGatewayOMSURL" value="oms-qa/api/" />-->

    <add key="ApiGatewayBaseURL" value="http://tms.anblicks.com/" />
    <add key="ApiGatewayTMSURL" value="tms-qa-api/api/" />
    <add key="TMSLogin" value="admin" />
    <add key="TMSPassword" value="admin" />
    <add key="FCM_Authorization" value="key=AAAASlr9K0Y:APA91bEpVYc3duC6fq7w38AGljxFkKXMMUHrSMF18fXRBHnVU-RWWyymfrGRX3D0H_zwflmJtjAtrcBosSt4sQxvrkuUZ6wjWP2ZvGwWzyxnYYjue-sIs7466OA1DWL6_X4UJ5gZcgPD"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CsvHelper" publicKeyToken="8c4959082be5c823" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <Helper.Model>
    <dependencyResolver defaultProvider="castleDependencyResolver">
      <providers>
        <add name="castleDependencyResolver" type="Helper.Model.DependencyResolver.Castle.Windsor.CastleWindsorDependencyResolverProvider, Helper.Model" description="This provider implemenation uses Windsor Castle." providerConfiguration="WebWindsorCastle.config" />
      </providers>
    </dependencyResolver>
  </Helper.Model>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DMSDBConn" connectionString="Data Source =192.168.101.246;Initial Catalog = DMS_DEV;User Id=sa;Password=Anb@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
