<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>

    <component
    id="memoirDataTask.01"
    service="DMS.DomainGateway.Gateway.Interfaces.ITaskGateway, DMS.DomainGateway"
    type="DMS.BusinessGateway.Gateway.TaskGateway, DMS.BusinessGateway">
    </component>

  </components>
</configuration>
