<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="TokenExpiry" value="600" />
  <add key="EmailFeature" value="False" />
  <add key="EmailFrom" value="namsanimallesh0711@gmail.com" />
  <add key="smtpHost" value="smtp.gmail.com" />
  <add key="smtpPort" value="587" />
  <add key="SmtpUserName" value="AstraTMS@gmail.com" />
  <add key="SmtpPassword" value="Astra@123" />
  <add key="ResetPasswordLink" value="http://tms.anblicks.com:80/dms-qa-api/api/v1/user/resetpassword" />
  <add key="storage:AccountName" value="astrafile" />
  <add key="storage:AccountKey" value="bC+6P+0Cch6UJtKpg8eTKBmQXbtpDn8nlU/R1ik+M7K0+FYYbUpeRIG9YryDL8Lr0DkYykWH9krlAS2ATZ8LfQ==" />
  <add key="storage:AccountContainer" value="astratmsdev" />
  <add key="FileStorageURL" value="https://astrafile.blob.core.windows.net/astratmsdev/" />
  <add key="ApiGatewayBaseURL" value="http://tms.anblicks.com/" />
  <add key="ApiGatewayTMSURL" value="http://localhost:51359/api/" />
  <add key="ApiGatewayOMSURL" value="http://localhost:51368/api/" />
  <add key="ApiGatewayDMSURL" value="http://localhost:51373/api/" />
  <add key="OMSLogin" value="oms1" />
  <add key="OMSPassword" value="oms1" />
  <add key="TMSLogin" value="tms1" />
  <add key="TMSPassword" value="tms1" />
  <add key="DMSLogin" value="admindms" />
  <add key="DMSPassword" value="Admindms@123" />
  <add key="ShipmentListOCRURL"  value="http://18.138.206.192:4003/extract"/>
  <add key="ShipmentScheduleOCRURL"  value="http://18.138.206.192:4001/extractdata"/>
  <add key="ImapHost" value="imap.gmail.com"/>
  <add key="ImapPort" value="993"/>
  <add key="ImapUserName" value="AstraTMS@gmail.com"/>
  <add key="ImapUserPassword" value="Astra@123"/>
  <add key="RequestTimeout" value="500000"/>
  <add key="B2BAPIUrl" value="https://devproxy.astra.co.id/astravendorinvoicingservice/External.svc/PushGeneralPO"/>
  <add key="B2BElementURL1" value="http://schemas.datacontract.org/2004/07/AstraVendorInvoicing.Service"/>
  <add key="B2BElementURL2" value="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
  <add key="SAMA_ACCOUNT_URL" value="https://devproxy.astra.co.id/usermanagementapi/api/Accounts/tokeninfo "/>
  <add key="TMS_UI_URL" value="http://tmsweb.anblicks.com/login?target="/>
  <add key="ReadEmails" value="true"/>
  <add key="ReadEmailsIntervel" value="1"/>
  <add key="TMS_APP_URL" value="http://tmsweb.anblicks.com/login"/>
  <add key="FCMBaseURL" value="https://fcm.googleapis.com"/>
  <add key="FCMKey" value="key=AAAAmBspCOU:APA91bHTpk2yFRyjvyDyU8hFlBCzJQcYyCU9JiNseqb11T6v2zxjV3du9OlmIjirAMnmO7LckxhdgNk8AKQf4JRELnkf1y_6cCMYoevg4nbZGLEenIbCjA8lbEAlo2QX4MGDXuIAHs4f"/>
</appSettings>