<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <components>
    <component
    id="memoirDataTask.01"
    service="TMS.DomainGateway.Gateway.Interfaces.ITaskGateway, TMS.DomainGateway"
    type="TMS.BusinessGateway.Gateway.TaskGateway, TMS.BusinessGateway">
    </component>
  </components>
</configuration>
